/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  img {
    height: 90px;
  }
}

#headerHero {
  @media screen and (max-width: $tab) {
    background-color: $brand-secondary;
  }
}

.front {
  .front-banner {
    max-width: 1024px;
    margin: 0 auto;
  }
}

#main-menu {
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu-link {
    &:hover,
    &:focus {
      color: $white;
    }
  }

  .menu .menu-item .active {
    border-color: $brand-secondary;
  }

  .menu-main_sub {
    background: $brand-secondary;

    .menu-item {
      .active {
        color: $white;
        border-color: $white;
      }

      a {
        &:hover,
        &:focus {
          background: $charcoal;
        }
      }
    }
  }
}

.rel-menu--latest-content {
  background: $grey-lightest;
  padding-bottom: 2rem;
  margin-top: 1.4rem;

  h2 {
    background: $brand-secondary;
    color: $white;
    padding: .7rem 2rem;
    margin: 0;
  }

  ul {
    margin: 1.2rem 1rem 1.8rem 3.6rem;
  }
}

.views-row.board-card {
  .board-title {
    position: relative;
    padding-right: 3rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: -.6rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_link_blue.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }

  a {
    &:hover .board-title:after,
    &:focus .board-title:after {
      background-color: $charcoal;
      background-image: resolve('arrow_forward_white.svg');
    }
  }
}
