/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#headerHero {
  @media screen and (max-width: 765px){
    background-color: $brand-secondary;
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          @include adjust-font-size-to(16px);
          line-height: 1.8rem;
        }
      }
    }
  }
}

#main-menu {
  .menu {
    .menu-item {
      border-right: 1px solid #fff;
      @include adjust-font-size-to(16px);

      @media screen and (max-width: $tab) {
        border-right: none;
      }

      &:last-child {
        border-right: 0;
      }

      &.open {
        .menu-toggle-btn {
          background-color: $brand-secondary;
          color: $white;
          font-weight: normal;
        }
      }

      .active {
        background: $brand-tertiary;
        border-bottom-color: $brand-secondary;
        color: #fff;
      }
    }
  }

  .menu-link,
  .menu .active {
    color: $charcoal;
    border-bottom: 5px solid transparent;

    @media screen and (max-width: $tab) {
      text-align: center;
    }

    &:hover {
      color: #fff;
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      background-color: #fae029;
      border-bottom-color: $black;
      color: $black;
    }
  }

  .menu-main_sub {
    background: $charcoal;

    .menu-item {
      @media screen and (max-width: $tab) {
        background: $charcoal;
      }
    }

    .menu-link,
    .menu-item span.active {
      @media screen and (max-width: $tab) {
        text-align: center;
      }

      &.active {
        background: $brand-tertiary;
        font-weight: normal;
      }
    }
  }
}

#content #top-area .twitter-block h2 a.twitter-link {
  color: $white;
  border-bottom-color: $white;

  &:focus {
    background-color: $white;
    color: $link;
  }
}

#top-area {
  margin: 2rem auto;
  text-align: left;

  h2 {
    color: $headings;
    @include adjust-font-size-to(30px);
  }

  .twitter-block {
    h2 {
      background: $brand-tertiary;
      color: $white;
      padding-left: 4rem;

      i {
        border: 1px solid $white;
        border-radius: 100%;
        padding: .5rem;
      }
    }
  }

  @include breakpoint($tab) {
    display: flex;
    justify-content: space-between;

    .column {
      flex-basis: 48%;
    }
  }

  .home-latest-news {
    @include breakpoint($tab) {
      display: flex;
      flex-flow: column;

      .field-photo {
        float: left;
        max-width: 37%;
        margin: 0 2rem 0 0;
      }
    }

    h3 {
      margin: 1rem 0;
      color: $link;

      @include breakpoint($tab) {
        @include adjust-font-size-to(18px, 4);
      }
    }

    article {
      margin-bottom: 2.4rem;

      .news-article {
        min-height: 12.6rem;
      }

      a.news-link {
        &:hover,
        &:focus {
          border-bottom: none;
          outline: none;
          background: none;

          .news-article {
            outline: 3px solid $link-hover-background;
            background: $link-hover-background;
            border-bottom: 3px solid $link-underline;
            //margin-bottom: -2.4rem;

            h3 {
              color: $link-hover;
            }
          }
        }
      }
    }

    .published-date {
      margin-bottom: 2.4rem;
    }

    footer a {
      display: inline-block;
      color: $white;
      text-align: center;
      cursor: pointer;
      background: $charcoal;
      border-radius: 2.3rem;
      border: 3px solid transparent;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $ash-grey;
      }

      &:focus {
        border-color: $black;
      }
    }
  }
}

#content {
  .home-latest-news {
    a[href] {
      margin: 0;
      padding: 0;
    }

    footer a[href] {
      margin: 1rem 0 0;
      padding: .6rem 1.6rem;
    }
  }
}

.middle-area {
  background: #d5e8e9;
  padding: 6rem;

  .column {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.middle-area,
#bottom-area {
  .content ul {
    margin-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
      display: inline-block;
      margin-bottom: 2rem;
    }
  }
}

#bottom-area {
  .content ul {
    @media screen and (max-width: 992px){
      flex-flow: column;
    }
  }
}

#bottom_wrapper {
  max-width: 1044px;
  margin: 0 auto;
  padding: 4.8rem 0 4.2rem;

  .footer-area .column {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }
}

#block-homepage5links,
#block-homepage3links {
  .content ul li a {
    margin: 0;
    display: block;
  }
}

#block-homepage5links {
  .content {
    ul {
      li {
        height: 19.5rem;
        width: 19rem;

        @media screen and (max-width: $tab) {
          height: 19.2rem;
        }

        a {
          padding: 1rem 0 4.4rem 1rem;
          border-bottom: none;
          color: $white;

          &:hover,
          &:focus {
            border-bottom: none;
            text-decoration: underline;
          }
        }

        &:first-child,
        &:last-child {
          a {
            padding-bottom: 1.7rem;

            @media screen and (max-width: $tab) {
              padding-bottom: 2rem;
            }
          }
        }

        &:first-child {
          background: $charcoal resolve('for-people-under-supervision.png') no-repeat 0 100%;
        }

        &:nth-child(2) {
          background: $charcoal resolve('for-sentencers.png') no-repeat 0 100%;
        }

        &:nth-child(3) {
          background: $charcoal resolve('for-victims.png') no-repeat 0 100%;
        }

        &:nth-child(4) {
          background: $charcoal resolve('for-the-community.png') no-repeat 0 100%;
        }

        &:nth-child(5) {
          background: $charcoal resolve('for-partner-organisations.png') no-repeat 0 100%;
        }
      }
    }
  }
}

#block-homepage3links {
  .content {
    ul {
      li {
        padding: 1.8rem 9rem;

        &:first-child {
          background: resolve('key-facts.png') no-repeat;
          border: 2px solid $brand-tertiary;
        }

        &:nth-child(2) {
          background: resolve('real-stories.png') no-repeat;
          border: 2px solid #926d07;
        }

        &:last-child {
          background: resolve('programmes.png') no-repeat;
          border: 2px solid $brand-secondary;
        }

        a:hover {
          margin-bottom: -1px;
        }
      }
    }
  }
}

#footer {
  max-width: 100%;

  #footer-area {
    .column:last-child {
      float: none;
    }

    .column {
      width: 100%;

      @include breakpoint($tab) {
        width: 49%;

        &:last-child {
          float: right;
        }
      }

      &:first-child {
        padding-right: 0;
      }
    }
  }

  #footer-menu .menu,
  #block-footerlogos .content ul {
    list-style: none;

    @include breakpoint($tab) {
      display: flex;
    }

    li {
      border: none;

      a,
      span.active {
        margin: 0;
        padding: 0;
        @include adjust-font-size-to(14px);
      }
    }
  }

  #footer-menu .menu {
    @include breakpoint($tab) {
      justify-content: space-between;
      margin-top: 2rem;
    }
  }

  #block-footerlogos .content ul {

    li a {
      border-bottom: none;

      &:hover,
      &:focus {
        border-bottom: 2px solid $charcoal;
        background: transparent;
      }
    }

    @include breakpoint($tab) {
      justify-content: end;
      margin-top: 8.2rem;

      li {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.webform-submission-form {
  input[type="submit"] {
    @include responsive-typo-map($normal-text);
    border: 3px solid transparent;
    background: $brand-primary none;
    min-width: 13rem;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    text-underline-offset: .25em;
    box-shadow: none;
    margin: 1rem 0 0;
    text-align: center;
    padding: .6rem 1.6rem;
    cursor: pointer;
    border-radius: 0;

    &:hover,
    &:focus {
      background: $ash-grey;
      outline: none;
      opacity: 1;
      box-shadow: none;
    }
  }
}

.board-members {
  display: flex;
  flex-flow: column;

  @include breakpoint($mob) {
    flex-flow: wrap;
    justify-content: space-between;
  }


  .views-row {
    display: flex;
    background: #e6e6e6;
    margin-bottom: 2%;
    padding: 1rem;

    @include breakpoint($mob) {
      flex-basis: 49%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        /* IE10+ specific styles go here */
        flex-basis: 46%;
      }
    }

    .group-left {
      flex-basis: 40%;
      padding-right: 06%;

      .field-member-image {
        max-width: 10rem;
      }
    }

    .group-right {
      flex-basis: 60%;
    }
  }

  h3 {
    margin-top: 0;
    padding-top: 3rem;
  }
}
