/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  img {
    height: 90px;
  }
}

#main-menu {
  .menu {
    .menu-item {
      border-right: 1px solid #fff;
      font-size: $p-font-size;

      @media screen and (max-width: $tab) {
        border-right: none;
      }

      &:last-child {
        border-right: 0;
      }

      &.open {
        .menu-toggle-btn {
          background-color: $white;
          font-weight: normal;
          color: $text;
        }
      }

      .active {
        background: $menu-item-hover;
        border-bottom-color: $brand-secondary;
        color: #fff;
      }
    }
  }

  .menu-link,
  .menu .active {
    color: $charcoal;
    border-bottom: 5px solid transparent;

    @media screen and (max-width: $tab) {
      text-align: center;
    }

    &:hover {
      color: #fff;
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      background-color: #fae029;
      border-bottom-color: $black;
      color: $black;
    }
  }

  .menu-main_sub {
    background: $menu-sub-item-background;

    .menu-item {
      border-right: none;

      @media screen and (max-width: $tab) {
        background: $menu-sub-item-background;
      }
    }

    .menu-link,
    .menu-item span.active {
      @media screen and (max-width: $tab) {
        text-align: center;
      }

      &.active {
        background: lighten($charcoal, 10%);
        font-weight: normal;
      }
    }
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

.published-date {
  font-weight: bold;
}

.front {
  .front-banner {
    max-width: 1160px;
    margin: 0 auto;
  }

  #top-area {
    padding: 2rem 0;
    background: #fafafa;
    max-width: 100%;

    @include breakpoint($tab) {
      padding: 4rem 0;
    }

    @include breakpoint($tab) {
      .container-wrap {
        display: flex;
        justify-content: space-between;

        .column {
          flex-basis: 45%;
          width: 100%;
        }
      }
    }

    .column {
      text-align: left;
      padding: 1rem 2.5rem;
      background: $white;
      margin: 1rem;
      border: 1px solid $grey-medium;

      @include breakpoint($tab) {
        margin: 0;
      }

      .content {
        padding-top: 0;
      }

      a.btn {
        background: $charcoal;
        border-radius: 2.3rem;

        &:hover,
        &:focus {
          background: $ash-grey;
        }

        &:focus {
          border-color: $black;
        }
      }

      a.twitter-link {
        margin-top: 4rem;
      }

      h2 {
        font-weight: bold;
        color: $headings;
        @include adjust-font-size-to(24px);
      }

      article.node--type-news {
        padding-bottom: 1.5rem;

        h3 {
          @include adjust-font-size-to(18px);
          margin: 0;
        }

        p.published-date {
          margin-bottom: 0;
        }

        .content {
          padding: .5rem 0;

          time {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.seeking-support {
  background: $black resolve('mhc-border-top.png') no-repeat;
  background-size: contain;

  @media screen and (max-width: 1036px){
    padding: 0 1rem;
  }

  .block > h2 {
    @include adjust-font-size-to(36px);
    color: $white;
    padding-left: 0;
  }

  .row {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem 0 6rem;

    ul:not(.contextual-links) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      margin: 5rem 0 0;

      li {
        background: $white;
        text-align: center;
        padding: 14rem 1.2rem 3rem;
        width: 22rem;
        margin-bottom: 2rem;
        word-wrap: break-word;

        &:first-child {
          background: $white resolve('mindingyourhead.png') no-repeat;
        }

        &:nth-child(2) {
          background: $white resolve('communitywellbeing.png') no-repeat;
        }

        &:nth-child(3) {
          background: $white resolve('samaritans.png') no-repeat;
        }

        &:last-child {
          background: $white resolve('lifeline.png') no-repeat;
        }
      }
    }
  }
}
