/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  background: $white;
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }

  .menu .menu-item .active {
    border-color: $brand-primary;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        color: $brand-primary;
        border-color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $black;
          background: $charcoal;
        }
      }
    }
  }
}


  a.btn {
    background: $brand-primary;
  }

.front {
  .block {
    h2 {
      @include responsive-typo-map($h2-text);
      margin: 3.6rem 0rem 1.2rem;
      padding: 0;
    }
  }
  #slick-views-slideshow-slideshow-1 {
    .slide__caption {
      @include breakpoint($tab) {
      background: rgba(0, 0, 0, 0.6);
      font-size: 2rem;
      padding: 1rem 1rem 1rem 1rem;
    }
    .slide__caption {
      font-size: 2rem;
      padding: 1rem 1rem 1rem 1rem;
    }
  }
}

  .block-system-main-block {
    h2 {
      @include adjust-font-size-to(20px, 5);

      @include breakpoint($phab) {
        @include adjust-font-size-to(30px, 6);
      }
      color: $brand-primary;
      margin: 0.9rem 0 2.1rem;
    }

    p {
      @include responsive-typo-map($h3-text);
        display: flex;
        justify-content: center;
        width: 100%;

      @include breakpoint($phab) {
        @include adjust-font-size-to(21px);
      }
     }
    }
  }

#bottom-area {
  text-align: left;
  margin: 2rem auto;
  width: 100%;
}
.bottom_widget .footer-area .column {
  width: 100%;
}
@media (min-width: 766px) {
  #bottom-area {
    display: flex;

  }
}
h2.location-title {
  display: none;
}
p.published-date {
  margin-bottom: 0rem;
}
address {
  margin-bottom: 2.4rem;
  line-height: 3rem;
}

.sidebar-second-layout {
    margin-bottom: 2rem;

    h2 {
      @include responsive-typo-map($h2-text);
      padding: 0;
    }

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }


#footer {
  //max-width: 1160px;
  padding: 2rem;

  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    padding-left: 0;
    font-size: 1.6rem;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}
