/*
 * @file
 * Helper partial to outline the order partials should be loaded in this section - used for reference & in the style guide.
 */

// Base
//
// Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute
// selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever
// this element is on the page, it should look like this.
//
// Component classes can override these styles, but if no class applies a style to an HTML element, the styles will
// outlined in this section of the guide should be the ones rendered.
//
// Weight: -10
//
// Style guide: base

// Ensure any custom fonts get loaded first to minimize front-end performance impact.
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/1_base/index';

//#content a,
//#footer a,
//.breadcrumb a,
//.content a {
//  text-decoration: underline;
//
//  &:focus {
//    color: #032f50;
//    border-bottom: 3px solid #032f50;
//    background: #ffe66a;
//  }
//}

//.home-latest-news {
//  a {
//    &:focus .field-photo {
//      background: #ffe66a;
//    }
//
//    &:focus h3 {
//      color: #032f50;
//      border-bottom: 3px solid #032f50;
//      background: #ffe66a;
//    }
//  }
//}

p {
  margin-bottom: 2.4rem;
}

.page-title {
  margin: 2.3rem 0;
}

th {
  vertical-align: top;
  text-align: left;
}

#block-views-block-board-member-board-members-block {
  h2 {
    @include responsive-typo-map($h2-text);
    margin: 0;
    padding-left: 0;
  }
}

strong a {
  font-weight: normal;
}
