# SAFE ENV VARS, RELEVANT FOR LOCAL DEVELOPMENT.
CONFIG_READONLY=0
DB_HOST=database
DB_USER=drupal9
DB_PASS=drupal9
DB_NAME=drupal9
DB_PREFIX=
DB_PORT=3306
DB_NAMESPACE=Drupal\Core\Database\Driver\mysql
DB_DRIVER=mysql
REDIS_HOSTNAME=redis
REDIS_PORT=6379
SIMPLEI_ENV_COLOUR=#637C16
SIMPLEI_ENV_NAME=Local

# SENSITIVE ENV VARS. KEYS ONLY.
CONFIG_SYNC_DIRECTORY=/app/project/config
FILE_PRIVATE_PATH=
HASH_SALT=
NW_TEST_USER_PREFIX=
TEST_USER=
TEST_PASS=
TEST_D7_URL=
STAGE_FILE_PROXY_ORIGIN=

