/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
    img {
      height: 9rem;
      width: 20rem;
    }
  }

#headerHero {
  @media screen and (max-width: 766px) {
  margin-top: 2rem;
  }
}

h1 {
  margin: 2rem 0 2rem;
}

.front {
  img {
    width: 24.5rem;
    height: 15rem;
  }
}

.front a.btn {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  width: 15rem;
}

#main-menu {
  background: $white;

  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }

  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}

#top-area .column .content {
  border: 2px solid #e7d7e1;

  a {
    display: block;
    min-height: 23rem;
    background-color: #fff;
    border-bottom: none;
  }

  p {
    display: block;
    border-bottom: none;
    color: #0e6bb3;

    &:last-child {
      display: inline-block;
      border-bottom: 1px solid $link;

      &:hover {
        border-bottom: 2px solid $black;
      }
    }
  }
}

#top-area {
  display: flex;
  margin: 5% auto 10%;

  @media screen and (max-width: 766px) {
    flex-direction: column;
  }
}

#footer {
  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    padding-left: 0;
    font-size: 1.6rem;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}

