/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  a {
    display: block;

    &:focus {
      background: none;
      border-bottom: none;
      outline: 0.3rem dashed #949494;
      outline-offset: 1.2rem;
    }
  }
    img {
      height: 80px;
    }
    @include breakpoint($tab) {
    img {
      height: 90px;
    }
  }
}

#main-menu {
  background: $white;
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $black;
      }

      a {
        &:hover,
        &:focus {
          color: $black;
          background: $brand-secondary;
        }
      }
    }
  }
}

#top-area {
  display: flex;
}

#footer {
  //max-width: 1160px;
  padding: 2rem;

  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    padding-left: 0;
    font-size: 1.6rem;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}

