/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#header {
  @include breakpoint($tab) {
    margin: 0 auto;
    padding: 1% 0;
  }
}

#inner_header_wrapper {
  background: $brand-primary;
}

#main-menu {
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu-link {
    &:hover,
    &:focus {
      color: $white;
      background: $brand-primary;
    }
  }

  .menu .menu-item .active {
    border-color: $brand-primary;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        color: $white;
        border-color: $white;
      }

      a {
        &:hover,
        &:focus {
          background: $charcoal;
        }
      }
    }
  }
}

#slick-views-slideshow-slideshow-1 {
  margin-bottom: 3.6rem;
}

#top-area {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .column {
    float: none;

    @include breakpoint($tab) {
      flex-basis: 30rem;
    }
  }

  h2 {
    color: $text;
  }

  .block-views-blockjudicial-decisions-home-recent-judgements {
    ul {
      list-style: none;

      li {
        border-bottom: 1px solid $grey-light;
        padding-bottom: 1.3rem;
        margin-bottom: 1.4rem;

        span {
          display: block;
          margin-top: .3rem;
        }
      }
    }
  }
}

#footer-area {
  .column {
    width: 100%;
    padding-left: 0;
    margin-left: 0;

    &:last-child {
      float: none;
    }
  }
}

p.published-date {
  font-weight: bold;
}


.search-result.decisions {
  margin-top: 1.4rem;

  h3 {
    margin-top: 1.2rem;
  }

  .neutral-citation {
    padding-right: 3rem;
  }

  .decision-issues {
    margin-bottom: 1.2rem
  }
}


.neutral-citation {
  padding-right: 3rem;
}

.path-judicial-members,
#block-views-block-sentencing-guidelines-by-issue,
#block-views-block-sentencing-guidelines-by-offence {
  .item-list {
    ul {
      li {
        list-style: none;
        position: relative;
        padding-left: 1.2rem;

        &:before {
          content: '-';
          position: absolute;
          left: 0;
          top: 0;
        }

        span {
          @include adjust-font-size-to(16px);
          color: $grey-light;
        }
      }
    }
  }
}

#block-views-block-sentencing-guidelines-by-issue,
#block-views-block-sentencing-guidelines-by-offence {
  &.block > h2 {
    @include responsive-typo-map($h2-text);
    padding: 0;
  }
}

#block-views-block-judicial-decisions-related-decisions {
  background: #f3f3f3;
  border-top: 5px solid $charcoal;
  padding: 1rem;

  &.block > h2 {
    @include adjust-font-size-to(28px);
    line-height: 3.6rem;
    margin: .5rem 0 1.5rem;
    padding: 0;
  }

  .item-list {
    ul {
      margin: 1.2rem 0 1.8rem 1.4rem;
    }
  }
}
