// Font faces, stacks and sizes.
//
// Font styling and line heights are controlled by the several variables that
// used by mixins like adjust-font-size-to().
// These variable and mixins are documented in [Compass](http://compass-style.org/reference/compass/typography/vertical_rhythm/).
// We also use a custom mixin responsive-typo-map() to make responsive typography much more manageable using sass maps.
// We import Google fonts in the head of the document and set the base family to be
// 'Open Sans', sans-serif
//
// Style guide: init.variables.typography
// The default font family.
$base-font-family: 'Open Sans', sans-serif;
$font-monospace:   'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;

// The font sizes for h1-h6.
$h1-font-size: 2.4 * $base-font-size;
$h2-font-size: 2 * $base-font-size;
$h3-font-size: 1.8 * $base-font-size;
$h4-font-size: 1.6 * $base-font-size;
$h5-font-size: 1.6 * $base-font-size;
$h6-font-size: 1.6 * $base-font-size;
$p-font-size: 1.6 * $base-font-size;

$normal-text: (
  null: (16px, null, 0 0 2.4rem)
);

$h1-text: (
  null: (32px, 3.9rem, 2rem 0 2.7rem)
);

$h2-text: (
  null: (28px, 3.6rem, 3.6rem 0 1.8rem)
);

$h3-text: (
  null: (24px, 3rem, 3.6rem 0 1.8rem)
);

$h4-text: (
  null: (21px, 2.7rem, 3.6rem 0 1.8rem)
);

$h5-text: (
  null: (18px, 2.7rem, 3.6rem 0 1.8rem)
);

$h6-text: (
  null: (18px, 2.7rem, 3.6rem 0 1.8rem)
);
