/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

#headerHero {
  @media screen and (max-width: $tab) {
    background-color: $brand-secondary;
    margin-top: 2rem;
  }
}

.path-news,
.path-publications {
  .content-sidebar-wrap {
    width: 100%;
  }

  .search-page {
    .sidebar-first-layout {
      padding-left: 0;
    }

    @include breakpoint($lap) {
      .sidebar-first-layout {
        width: 30%;
      }

      .main-content {
        width: 65%;
      }
    }

    .views-exposed-form {
      p {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
    }

    .metaListItem {
      margin-left: 2rem;
    }
  }
}

#footer {
  max-width: 100%;
  padding: 2rem;
  background: #e7e7e7 resolve('mhc-border-top.png') no-repeat;
  border: none;
  background-size: contain;

  #footer-area .footer-menu .menu .menu-item a {
    padding: 0;
    margin: 0;
  }

  .footer-menu {
    margin-top: 2.4rem;

    li {
      padding-left: 0;
      font-size: 1.4rem;
      display: block;

      @include breakpoint($tab) {
        display: inline-block;
        padding: 0 .8rem 0 0;
        line-height: 1.8rem;
        margin-right: .5rem;
      }
    }
  }

  .footer-area {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1rem;

    .column {
      float: none;
      width: unset;
      flex-basis: 33%;
      flex-grow: 1;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }

      li {
        border: none;
      }
    }

    h2 {
      @include responsive-typo-map($h2-text);
      color: $headings;
      margin-top: 0;
    }
  }
}
