/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  @media screen and (max-width: $tab) {
    margin-bottom: 2rem;
  }

  img {
    height: 96px;
  }
}

@media screen and (max-width: $tab) {
  #logo {
    padding: 0 1rem;
  }

  .top_left {
    margin-bottom: 2rem;
  }
}

@include breakpoint($tab) {
  #views-exposed-form-search-site-search {
    margin-top: 2.4rem;
  }

  #header {
    margin-bottom: 2%;
  }
}

.node-type-document,
.node-type-faq,
.node-type-webform {
  @include breakpoint($tab) {
    .content-sidebar-wrap {
      width: 65%;
    }
  }
}

.paragraph--type--map {
  margin-bottom: 2.4rem;
}

.node-type-document {
  p span:first-child {
    font-weight: bold;
  }
}

.node-type-decision {
  .published-date {
    font-weight: bold;
  }

  .content-field--label-inline .content-field__label {
    @include responsive-typo-map($h3-text);
  }
}

.front .region-slideshow {
  margin-top: 6rem;
}

#main-menu {
  .menu {
    .menu-item {
      .active {
        border-bottom-color: $brand-secondary;
      }
    }
  }
}

#bottom-area {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  .column {
    flex-basis: 100%;

    @include breakpoint($tab) {
      flex-basis: 32%;
    }

    &:first-child {
      background: #e6d9e7;

      .content {
        padding: 0;

        a {
          color: #0d63a5;
        }
      }
    }

    &:nth-child(2) {
      background: $brand-secondary;
    }

    &:last-child {
      background: #f1f1f1;
    }
  }

  .content {
    padding: 1rem;
  }

  ul {
    margin-left: 2.4rem;
    padding: 0 1rem 1.2rem 0;
    position: relative;

    li {
      list-style: none;

      &:before {
        content: '-';
        position: absolute;
        left: -12px;
      }
    }
  }

  .btn {
    text-align: center;
    max-width: 190px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    @include responsive-typo-map($h4-text);
    padding: 1rem;
  }

  .block > h2,
  h2 {
    margin: 0;
  }
}

#footer {
  margin-top: 6rem;

  #footer-area .footer-menu .menu .menu-item a {
    padding: 0;
    margin: 0;
  }

  .footer-menu {
    margin-top: 2.4rem;

    li {
      padding-left: 0;
      font-size: 1.4rem;
      display: block;

      @include breakpoint($tab) {
        display: inline-block;
        padding: 0 .8rem 0 0;
        line-height: 1.8rem;
        margin-right: .5rem;
      }
    }
  }

  .footer-area {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1rem;

    .column {
      float: none;
      width: unset;
      flex-basis: 33%;
      flex-grow: 1;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }

      li {
        border: none;
      }
    }
  }
}

.webform-submission-form input[type="submit"] {
  background: $brand-primary none;
  min-width: 13rem;
  @include adjust-font-size-to(18px);
  line-height: 1.5;
  border: 3px solid transparent;
  color: $white;
  font-weight: normal;
  text-shadow: none;
  text-underline-offset: .25em;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 1rem 0 0;
  text-align: center;
  padding: .6rem 1.6rem;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background: $ash-grey;
    outline: none;
    opacity: 1;
  }

  &:focus {
    background: $black;
  }
}
