/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.front #home-links {
  border-bottom: solid 1px #6d0d96;
  border-top: solid 1px #6d0d96;

  p {
    margin-bottom: 0;
  }
}

.front {
  .front-banner {
    max-width: 1160px;
    margin: 0 auto;
  }
}

#main-menu {
  background: $white;
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}
#victim-charter {
  p {
    background-color: #fee6d5;
    padding-bottom: 2rem;
  }
}
#how-to-complain {
  p {
    background-color: #d6fefc;
    padding-bottom: 2rem;
  }
}
#victim-survey {
  p {
    background-color: #fedfef;
    padding-bottom: 2rem;
  }
}

.front #bottom-area {
  .column {
    text-align: left;
    padding: 1rem 2.5rem;
    background: $grey-light;
    margin: 1rem;

    a.btn {
      background: #6d0d96;
      border-radius: 2.3rem;

        &:hover,
        &:focus {
          background: $black;
        }
    }

    h2 {
      @include adjust-font-size-to(21px);
      margin: 0;
      padding: 1rem 0 2rem;
      line-height: 1.5;
    }

    h3 {
      @include adjust-font-size-to(18px);
    }
  }
}

.sidebar-second .sidebar-second-layout {
  margin-bottom: 2rem;
  padding-top: 1rem;

  h2 {
    @include responsive-typo-map($h2-text);
    padding: 0;
    font-size: 2.8rem;
    margin: 0.4rem 0rem 0.2rem 0rem;
  }

  h2.title {
    font-size:1.8rem;
    line-height: 1.5;
  }

  p.published-date {
    font-size: 1.6rem;
    margin-bottom: 0rem;
  }

  ul {
    margin-bottom: 1rem;

    li {
      padding: 0 0 .6rem 1rem;
      list-style: none;
      margin: 0 0 .2rem;
      position: relative;

      &::before {
        content: "-";
        left: 0;
        position: absolute;
        top: 0;
      }

      .date-published {
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
}

#footer {
  //max-width: 1160px;
  padding: 2rem;

  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    padding-left: 0;
    font-size: 1.6rem;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}


