/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.front #home-links {
  border-bottom: solid 1px #4b4b4b;
  border-top: solid 1px #4b4b4b;

  p {
    margin-bottom: 0;
  }
}

.front {
  .front-banner {
    max-width: 1160px;
    margin: 0 auto;
  }
}

#main-menu {
  background: $white;
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}
#victim-charter {
  p {
    background-color: #fee6d5;
    padding-bottom: 2rem;
  }
}
#how-to-complain {
  p {
    background-color: #d6fefc;
    padding-bottom: 2rem;
  }
}
#victim-survey {
  p {
    background-color: #fedfef;
    padding-bottom: 2rem;
  }
}

.front #bottom-area {
  .column {
    text-align: left;
    padding: 1rem 2.5rem;
    background: $grey-light;
    margin: 1rem;

    a.btn {
      background: #6d0d96;
      border-radius: 2.3rem;
    }

    h2 {
      @include adjust-font-size-to(21px);
      margin: 0;
      padding: 1rem 0 2rem;
      line-height: 1.5;
    }

    h3 {
      @include adjust-font-size-to(18px);
    }
  }
}


