/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.content {
  ul {
    li {
      list-style: none;
      position: relative;

      &::before {
        content: "-";
        position: absolute;
        left: -20px;
        top: 0;
      }
    }
  }
}

.region-content {
  .content {
    padding-bottom: 40px;
  }
}

.toc-menu {
  border-color: #ccc;
}

.breadcrumb {
  padding: 0;
}

#main-menu {
  .menu-item {
    flex-grow: 0;

    .menu-link,
    span.active{
      padding: 1.1rem 2rem .4rem;

      @media screen and (max-width: $tab) {
        padding: 13px 2%;
      }
    }
  }

  .menu-main_sub {
    .menu-item {
      background: lighten($menu-background, 30%);

      span.active {
        padding-left: 2rem;

        @media screen and (max-width: $tab) {
          padding-left: 2%;
        }
      }
    }
  }

  .menu {
    .menu-item .active,
    .menu-item .active + .menu-main_sub .title a {
      border-bottom-color: $brand-primary;
    }
  }
}

#footer #footer-menu {
  .menu {
    list-style: none;

    @media screen and (max-width: $mob) {
      text-align: center;
    }

    li.menu-item {
      display: inline-block;
      padding: 0 .8rem 0 0;
      margin-right: .5rem;

      a {
        margin: 0;
      }
    }
  }
}

#main-menu .hamburger {
  top: -5.2rem;
}

.content .media-image-embed {
  clear: right;
  float: right;
  width: 48%;
  margin: 2.1rem 0 0 2.7rem;
  max-width: 670px;
}

.image-caption {
  margin-bottom: 1.8rem;
  color: $headings;
}
