/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.top_left #logo {
  img {
    height: 9rem;
  }
  @media screen and (min-width: $tab) {
    img {
      height: 11rem;
    }
  }
}

#header {
  @media screen and (min-width: $tab) {
    margin-bottom: 2.5rem;
  }
}

.front {
  .front-banner {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.region-primary-menu {
  border-top: 1px solid #5c7a84;
}

.region-primary-menu .menu_wrapper {
  border-bottom: solid 5px;
  border-image: linear-gradient(to right, teal 33%, red 33%, red 66%, yellow 33%) 5;
}

#main-menu {
  background: $white;

  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $black;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-secondary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      background: $brand-primary;

      .active {
        background: $brand-primary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}

.front #content #top-area a {
  border-bottom: none;

  &:hover,
  &:focus {
    border-bottom: 2px solid $link
  }
}

.front #content #bottom-area a {
  border-bottom: none;

  &:hover,
  &:focus {
    border-bottom: 2px solid $link
  }
}

.homepage--pull-quote {
  background: #e7e7e7;

  .container-wrap {
    padding: 4.4rem 0;
    background: resolve('homepage-pullquote-bkgrd.svg') no-repeat 60rem -120px / 500px;
  }

  blockquote {
    @include adjust-font-size-to(27px);
    font-weight: bold;
    max-width: 55rem;

    &::before,
    &::after {
      background: none;
      padding: 0;
    }
  }
}

.homepage--card-deck {
  .cards-pack {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    @media screen and (min-width: $phab) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $tab) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .card {
    list-style: none;
    text-align: left;

    .card__link::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 3rem;
      right: 0.5rem;
      width: 3rem;
      height: 3rem;
      //background: no-repeat center / 2.5rem resolve('arrow_forward_white.svg');
      mask: no-repeat 100% 100% resolve('arrow_forward_white.svg');
      mask-size: cover;
      background-color: #fff;
    }

    &.odd .card__link {
      background: $brand-primary;

      &::after {
        background-color: $brand-primary;
      }
    }

    &.even .card__link {
      background: $brand-secondary;

      &::after {
        background-color: $brand-secondary;
      }
    }

    .media-image {
      display: block;
      margin: 0;
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
      width: 9rem;
      height: auto;
    }
  }
}

#content .homepage--card-deck {
  .card__link {
    border-bottom: 0 !important;
    border-left: 5px solid transparent;
    color: #fff;
    display: block;
    height: 100%;
    min-height: 240px;
    padding: 3rem 5rem 9rem 1.5rem !important;
    position: relative;
    text-decoration: none;
    @include adjust-font-size-to(21px);

    &:hover,
    &:focus {
      background: #e7e7e7;
      color: $brand-primary;
      border-left-color: $brand-primary;
    }

    &:focus {
      outline: 2px solid $brand-primary;
    }
  }
}

//#top-area {
//  margin: 1% auto;
//  @media screen and (min-width: $tab) {
//    display: flex;
//    justify-content: space-evenly;
//  }
//
//  p {
//    color: $white;
//    text-align: left;
//    padding: 3%;
//    width: 70%;
//  }
//
//  .block {
//    height: 19rem;
//  }
//    @media screen and (max-width: 1153px) {
//      .column:last-child {
//        margin-right: 1rem;
//    }
//  }
//}
//.region-top-first {
//  background: resolve('home-block-1-bg.png') no-repeat 100%;
//}
//.region-top-second {
//  background: resolve('home-block-2-bg.png') no-repeat 100%;
//}
//.region-top-third{
//  background: resolve('home-block-3-bg.png') no-repeat 100%;
//}
//.region-top-fourth {
//  background: resolve('home-block-4-bg.png') no-repeat 100%;
//}
//.region-top-fifth {
//  background: resolve('home-block-5-bg.png') no-repeat 100%;
//}
//.region-top-sixth {
//  background: resolve('home-block-6-bg.png') no-repeat 100%;
//}

#home-block-1, #home-block-3, #home-block-5 {
  background: #22353b;
}
#home-block-2, #home-block-4, #home-block-6 {
  background: #5c7a84;
}

.front #bottom-area {
  .column {
    text-align: left;
    padding: 1rem 2.5rem;
    background: $grey-light;
    margin: 1rem;
  }

  p {
    @include adjust-font-size-to(21px);
  }
}

#top-area {
  .block-homepage-block {

    a {
      width: 100%;
      height: 100%;
      display: block;
      column-gap: 2rem;
      border-bottom: none;

      &:focus,
      &:hover {
        border: solid #0e6bb3 2px;
      }
    }

    .content {
      position: relative;
      padding-right: 2rem;
      flex: auto;
      margin-left: 1rem;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 3rem;
        right: 0.4rem;
        width: 3rem;
        height: 3rem;
        background-image: resolve('arrow_forward_white.svg');
        background-position: center center;
        background-size: 2.4rem auto;
        background-repeat: no-repeat;
      }
    }

    &:hover .content:after,
    &:focus .content:after {
      background-color: $white;
      background-image: resolve('arrow_forward_black.svg');

    }
  }
}

#bottom-area {
  .block-homepage-block {

    a {
      width: 100%;
      height: 100%;
      display: block;
      column-gap: 2rem;
      border-bottom: none;

      &:focus,
      &:hover {
        border: solid #0e6bb3 2px;
      }
    }

    .content {
      position: relative;
      padding-right: 2rem;
      flex: auto;
      margin-left: 1rem;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 27rem;
        right: 0.4rem;
        width: 3rem;
        height: 3rem;
        background-image: resolve('arrow_forward_black.svg');
        background-position: center center;
        background-size: 2.4rem auto;
        background-repeat: no-repeat;
        @media screen and (max-width: 980px) {
          position: static;
        }
      }
    }

    &:hover .content:after,
    &:focus .content:after {
      background-color: $black;
      background-image: resolve('arrow_forward_white.svg');
    }
  }
}

#footer {
  border-top: solid 5px;
  border-image: linear-gradient(to right, teal 33%, red 33%, red 66%, yellow 33%) 5
}

