/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  background: $white;
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $black;
      }

      a {
        &:hover,
        &:focus {
          color: $black;
          background: $brand-secondary;
        }
      }
    }
  }
}

.homepage--pull-quote {
  background: resolve('front-banner.png') no-repeat 50%;
  height: 30rem;

  .container-wrap {
    padding: 9.4rem 0;
  }

  blockquote {
    @include adjust-font-size-to(30px);
    font-weight: bold;
    max-width: 45rem;

    p {
      color: $white;
    }

    &::before,
    &::after {
      background: none;
      padding: 0;
    }
  }
}

.region-front-welcome {
  border-bottom: solid $brand-primary 2px;

  p {
    font-size: 2.1rem;
    text-align: left;
    display: flex;
    line-height: 3rem;
    width: 100%;

    .btn {
      width: 26rem;
    }
  }
}

#top-area {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;

  .column {
    max-width: 28rem;
    border: solid 2px $brand-primary;

    .content {
      padding: 0;
    }
  }

  .media-image {
    margin: 0;
  }
}
