/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  background: $white;
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }
  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $black;
      }

      a {
        &:hover,
        &:focus {
          color: $black;
          background: $brand-secondary;
        }
      }
    }
  }
}

.homepage--pull-quote {
  background: resolve('front-banner.png') no-repeat 50%;
  height: 30rem;

  .container-wrap {
    padding: 9.4rem 0;

    @media screen and (max-width: $max-grid-width) {
      padding: 6.4rem 2rem;
    }
    @media screen and (max-width: $mob) {
      padding: 5rem 2rem;
    }
  }

  blockquote {
    @include adjust-font-size-to(30px);
    font-weight: bold;
    max-width: 60%;
    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(26px);
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(22px);
    }

    p {
      color: $white;
    }

    &::before,
    &::after {
      background: none;
      padding: 0;
    }
  }
}

.region-front-welcome {
  #block-homepageinformation {
    border-bottom: solid $brand-primary 2px;
    margin-bottom: 7%;
  }

  .block {
    h2 {
      text-align: left;
      padding: 0px 10px 0px 10px;
      margin: 1.6rem 0 0.8rem;
      color: $brand-primary;
    }

    p {
      @include adjust-font-size-to(21px);
      text-align: left;
      display: flex;
      line-height: 3rem;
      width: 100%;
      padding: 1%;
      @media screen and (max-width: $tab) {
        @include adjust-font-size-to(18px);
      }

      .btn {
        width: 28rem;
      }
    }
  }
}

.homepage-featured {
  .featured-item-row {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: $lap) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  .featured-item-column {
    margin: 0px 10px 0px 10px;
    padding-bottom: 3rem;
    border: solid 2px $brand-primary;

    p {
      @include adjust-font-size-to(18px);
      padding: 0px 10px 0px 10px;
      color: $brand-secondary
    }

    .field-link {
      text-align: left;
      padding: 0px 10px 0px 10px;

      &:after {
        content: resolve('arrow-right.svg');
        display: inline-block;
        position: absolute;
        width: 2rem;
        padding: 0 5px;
      }
    }

    .media-image {
      margin: 0;
    }
  }
}

.path-publication-archive {
  h2.title {
    @include adjust-font-size-to(21px);
  }
  .published-date {
    margin: 0;
  }
}

.path-news-archive {
  h2.title {
    @include adjust-font-size-to(21px);
  }
}

#bottom-area {
  @include breakpoint($tab) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .column {
    width: auto;
    float: none;

    @include breakpoint($tab) {
      flex-basis: 46%;
    }
  }
}

#footer {
  .container-wrap {
    display: block;
  }
}
