/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#header {
  @media screen and (min-width: $tab) {
  margin-bottom: 5rem;
}
  }

.top_left #logo {
  img {
    height: 10rem;
  }
     @media screen and (min-width: $tab) {
      img {
        height: 14rem;
    }
  }
}

.region-front-welcome {
  background: resolve('crc-banner-img.png') no-repeat 50%;
  padding: 5rem 5rem 5rem 5rem;
  margin: auto;
}
@media screen and (min-width: 766px) {
  body {
    @include adjust-font-size-to(18px);
  }
}

#block-frontpagebanner {
  background: rgba(72, 119, 195, 0.85);
  padding: 2.6rem 0 2rem;

  h2 {
    @include adjust-font-size-to(55px);
    color: white;
    line-height: 1.5;

    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(30px);
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(18px);
    }
  }

  a.btn {
    background: #0e1b5b;
    @include adjust-font-size-to(21px);
    line-height: 3.5rem;
    padding: 1rem 2.8rem;
    border-radius: 5px;
    text-decoration: underline;
    text-decoration-color: $white;

    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(16px);
      display: inline;
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(12px)
    }

    &:hover,
    &:focus {
      opacity: .8;
      color: #fff;
      text-decoration: underline;
      background: #111;
    }
  }
}

.region-primary-menu .menu_wrapper {
  background-color: $brand-primary;
}

#main-menu .menu .menu-item .active,
#main-menu .menu .menu-item .active + .menu-main_sub .title a {
  border-bottom-color: $brand-secondary;
}

#top-area {
  margin: 2% auto;
  .column {
    width: 50%;
    margin: 0;
  }

  p {
    text-align: left;
  }

  h2 {
    @include adjust-font-size-to(24px);
    text-align: left;
    margin: 0;
    color: $black;
  }
  h2.title {
    @include adjust-font-size-to(18px);
  }
  .more-link {
    text-align: left;
  }
}

.latest-event-top {
  a {
    background: #9f268a;
    display: flex;
    flex-direction: column;

    &:focus,
    &:hover {
      border: solid #0e6bb3 2px;
    }

    h2 {
      color: $white;
    }

    h3 {
      @include adjust-font-size-to(20px);
      text-align: left;
      color: $white;
    }
  }

  .board__image {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  .board-title {
    position: relative;
    padding-right: 2rem;
  }

  .board__body {
    position: relative;
    padding-right: 2rem;
    flex: 1;
    margin-left: 1rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 7rem;
      right: 0.4rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_white.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }

  &:hover .board__body:after,
  &:focus .board__body:after {
    background-color: $charcoal;
    background-image: resolve('arrow_forward_white.svg');
  }
}

.latest-news-top {
  a {
    background: $grey-light;
    display: flex;
    flex-direction: column;
    border-bottom: none;

    &:focus,
    &:hover {
      border: solid #0e6bb3 2px;
    }

    h3 {
      @include adjust-font-size-to(20px);
      text-align: left;
    }
  }

  .board__image {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  .board-title {
    position: relative;
    padding-right: 2rem;
  }

  .board__body {
    position: relative;
    padding-right: 2rem;
    flex: 1;
    margin-left: 1rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 7rem;
      right: 0.4rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_link_blue.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }
  &:hover .board__body:after,
  &:focus .board__body:after {
    background-color: $charcoal;
    background-image: resolve('arrow_forward_white.svg');
  }
}

.latest-news-bottom {
  padding-bottom: 2rem;

  a {
    display:flex;
    column-gap: 2rem;
    background: $grey-light;

    &:focus,
    &:hover {
      border: solid #0e6bb3 2px;
    }

    h3 {
      @include adjust-font-size-to(18px);
      text-align: left;
    }
  }

  .board__image {
    max-width: 20rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .board-title {
    position: relative;
    padding-right: 2rem;
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(14px);
    }
  }
  .board__body {
    position: relative;
    padding-right: 2rem;
    flex: 1;
    margin-left: 1rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 7rem;
      right: 0.4rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_link_blue.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }
    &:hover .board__body:after,
    &:focus .board__body:after {
      background-color: $charcoal;
      background-image: resolve('arrow_forward_white.svg');
    }
  }


.latest-event-bottom {
  padding-bottom: 2rem;

  a {
    display: flex;
    column-gap: 2rem;
    background: #9f268a;

    &:focus,
    &:hover {
      border: solid #0e6bb3 2px;
    }

    h3 {
      @include adjust-font-size-to(18px);
      text-align: left;
      color: $white;
    }
  }

  .board__image {
    max-width: 20rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .board-title {
    position: relative;
    padding-right: 2rem;
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(14px);
    }
  }
  .board__body {
    position: relative;
    padding-right: 2rem;
    flex: 1;
    margin-left: 1rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 7rem;
      right: 0.4rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_white.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }
  &:hover .board__body:after,
  &:focus .board__body:after {
    background-color: $charcoal;
    background-image: resolve('arrow_forward_white.svg');
  }
}

#content #block-views-block-latest-news-home-latest-news a {
  padding: 1rem;
  margin: 0;
  border: none;

  &:hover,
  &:focus {
    border: none;
    background: #e4f0fa;
  }

  &:focus {
    outline: 2px solid $black;
    outline-offset: -2px;
  }
}

#content #block-views-block-latest-events-latest-events a {
  padding: 1rem;
  margin: 0;
  border: none;

  &:hover,
  &:focus {
    border: none;
    background: #771c67;
  }

  &:focus {
    outline: 2px solid $black;
    outline-offset: -2px;
  }
}

#content #block-views-block-latest-news-home-latest-news .more-link a {
  @include adjust-font-size-to(20px);
  text-align: left;

  &:hover,
  &:focus {
    border: none;
    background: #e4f0fa;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $black;
    outline-offset: -2px;
    color: #0e6bb3;
  }
}

#content #block-views-block-latest-events-latest-events .more-link a {
  @include adjust-font-size-to(20px);
  text-align: left;

  &:hover,
  &:focus {
    border: none;
    background: #771c67;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $black;
    outline-offset: -2px;
  }
}

.region-top-first {
  padding: 2rem;
  background: $grey-light;
}

.region-top-second {
  background: #9f268a;
  padding: 2rem;
}

.region-top-third {
  background: #4e780b;
  padding: 2rem;
  height: 65rem;
}

.region-top-fourth {
  background: resolve('crc-subscribe-bg.png') repeat 50%;;
  padding: 2rem;
  height: 65rem;

    h2 {
      color: $white;
    }
    p {
      color: $white;
      text-align: left;
    }
}

#latest-event-home {
  background: #9f268a;

    h2, a , p {
      color: $white;
    }
}

#twitter-home {
  h2, a {
    color: $white;
  }
}

#content #twitter-home .twitter-link {
  color: white;
  border-bottom: 1px solid $white;

  &:hover {
    border-bottom: 1px solid $black;
  }
}

#block-views-block-latest-events-block-1 {
    h2 {
      color: $white;
    }
    span {
      color: $white;
    }
}

#block-subscribe {
    h2 {
      color: $white;
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          @include adjust-font-size-to(14px);
          line-height: 1.8rem;
        }
      }
    }
  }
}

.event-date-label {
  font-weight: bold;
}

#footer-area .block {
  h2 {
    color: $black;
    @include adjust-font-size-to(25px)
  }
}

#footer {
  .container-wrap {
    display: block;
  }

  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    @include adjust-font-size-to(16px);
    padding-left: 0;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}
