/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active,
  .menu .menu-item .active + .menu-main_sub .title a {
    background: $white;
    border-bottom-color: $brand-tertiary;
    color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-tertiary;
      color: $brand-primary;
    }
  }
}

.search-form input[type="submit"] {
  background-color: $brand-primary;

  &:hover,
  &:focus {
    opacity: 1;
    background-color: $brand-tertiary;
  }
}

#footer .column .social-icons li {
  border-color: $brand-primary;

  a {
    color: $brand-primary;
  }
}

.block-link {
  display: flex;

  .block-link--teaser {
    position: relative;
    padding-right: 4rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: .1rem;
      width: 3rem;
      height: 3rem;
      background-image: resolve('arrow_forward_link_blue.svg');
      background-position: center center;
      background-size: 2.4rem auto;
      background-repeat: no-repeat;
    }
  }

  a {
    background: $grey-light;

    &:hover .block-link--teaser:after,
    &:focus .block-link--teaser:after {
      background-color: $charcoal;
      background-image: resolve('arrow_forward_white.svg');
    }
  }

  .media-image[data-picture-mapping="card_small"],
  .media-image[data-picture-mapping="inline_xl"] {
    margin: 0;

    figure img {
      display: inline-block;
    }

    figcaption {
      display: none;
    }
  }
}

.path-events {

  #content .facet-summary {
    margin-bottom: 2rem;
  }

  .search-result {
    border: 1px solid #d3d7d9;
    padding: 0 1.5rem 1.5rem;
    margin-bottom: 2rem;

    h3 {
      @include adjust-font-size-to(21px);
      margin: 1.5rem 0 1.2rem;
    }

    .event-date {
      @include adjust-font-size-to(16px);
      margin-top: 1.5rem;
      color: #4d4d4d;
    }
  }
}

.node-type-featured-article {
  #sidebar-second {
    float: left;

    @include breakpoint($tab) {
      width: 65%;
    }
  }

  .most-recent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    article {
      padding-bottom: 3rem;
      margin-bottom: 2rem;

      @include breakpoint($mob) {
        flex-basis: 21.5rem;
      }
    }

    h3 {
      @include adjust-font-size-to(21px);
      color: $link;
      margin: 0;
      padding: 1rem 0;
    }
  }
}

#block-cyberheaderdescription {
  max-width: 1024px;
  margin: 0 auto;

  .content {
    max-width: 90%;
    padding-left: 1rem;

    @include breakpoint($lap) {
      padding-left: 0;
    }

    h2 {
      color: $white;
    }
  }
}

#block-views-block-featured-article-featured-home {
  article {
    a {
      @include breakpoint($tab) {
        display: flex;
        column-gap: 4rem;
      }
    }

    .block-link__image {
      @include breakpoint($tab) {
        flex: 1.5;
      }

      .media-image {
        margin: 0;
      }
    }

    .block-link__body {
      text-align: left;
      position: relative;

      h2 {
        margin-top: 1.2rem;
        text-align: left;
        color: $link;
      }

      @include breakpoint($tab) {
        flex: 1;

        p:last-of-type {
          @include adjust-font-size-to(24px);
          line-height: 2.7rem;
        }

        .view-footer {
          position: absolute;
          bottom: 3.3rem;
        }
      }
    }
  }

  .content article .group-left a {
    margin: 0;
    padding: 0;
  }

}

#content #block-views-block-featured-article-featured-home .most-recent .block-link a,
#sidebar-second .sub-menu .most-recent .block-link a,
#content #block-views-block-useful-contacts-useful-contacts-home .cyber-list ul:first-child li a {
  padding: 1rem;
  margin: 0;
  border: none;

  &:hover,
  &:focus {
    border: none;
    background: #e4f0fa;
  }

  &:focus {
    outline: 2px solid $black;
    outline-offset: -2px;
  }
}

body:not(.front) {
  #header_wrapper {
    padding-bottom: 3rem;
  }
}

#header_wrapper {
  padding: 1rem 0 1rem;
  background-color: $brand-secondary;

  @media screen and (min-width: 1300px) {
    background-image: resolve('hex-pattern.svg'), resolve('hex-pattern-right.svg');
    background-position: -75px top, right 60px;
    background-repeat: no-repeat, no-repeat;
  }
}

#content #block-views-block-featured-article-featured-home .content article .group-left a {
  margin: 0;
  padding: 0;
  border: none;
}

#top-area {
  background: $offwhite;
  max-width: 100%;

  h2,
  p {
    color: $text;
  }

  .advice-head {
    color: $link;
    @include responsive-typo-map($h1-text);
    margin: 0;
    line-height: 6rem;
  }

  .content {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .column {
      float: none;
      width: 100%;
      text-align: left;

      @include breakpoint($tab) {
        width: 30rem;

        p {
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

#bottom-area {
  header {
    text-align: center;
    padding-bottom: 3rem;
  }

  .column {
    &:first-child {
      width: 100%;
      margin: 0;
      padding: 1rem;
    }
  }

  .footer-area {
    .column:last-child {
      float: none;
    }
  }

  .cyber-list ul:first-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;

    li {
      display: flex;

      article {
        h3 {
          color: $link;
        }
      }

      @include breakpoint($tab) {
        width: 22.5rem;
      }
    }

    .field-photo {
      display: flex;
      align-items: center;

      .media-image {
        margin: 0;

        &[data-picture-mapping="card_large"] > img {
          max-width: 205px;
        }
      }
    }
  }
}

.path-useful-contacts {
  .content-sidebar-wrap {
    @include breakpoint($tab) {
      width: 65%;
    }
  }

  p {
    overflow: hidden;
  }

  .cyberItem {
    display: flex;
  }

  .media-image[data-picture-mapping="inline"] > img {
    max-width: 180px;
  }
}

#footer {
  #footer-area .footer-menu .menu .menu-item a,
  #footer_wrapper .footer_credit .footer-menu .menu .menu-item a {
    padding: 0;
    margin: 0;
  }

  #block-cispandincidentfooter {
    ul {
      margin-left: 1.7rem;

      @include breakpoint($tab) {
        margin: 0;
      }
    }

    li {
      display: list-item;
      padding: 0;
      border: none
    }
  }

  .footer-area {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    justify-content: space-between;

    .column {
      float: none;
      width: unset;
      flex-basis: 17rem;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
        flex-basis: 25rem;
      }

      &:nth-child(2) {
        padding-left: 0;
        margin-left: 0;
        flex-basis: 49rem;
      }

      &:last-child {
        padding-left: 0;
      }
    }

    .social-icons {
      margin: 0;
    }
  }

  .footer-menu {
    margin-top: 2.4rem;

    li {
      padding-left: 0;
      font-size: 1.4rem;
      display: block;

      @include breakpoint($tab) {
        display: inline-block;
        padding: 0 .8rem 0 0;
        line-height: 1.8rem;
        margin-right: .5rem;
      }
    }
  }
}

.node-type-publication,
.node-type-webform {
  @include breakpoint($tab) {
    .content-sidebar-wrap {
      width: 65%;
    }
  }
}

.node-type-webform {
  .webform-submission-form input[type="submit"] {
    background: $link none;
    line-height: 1.5;
    border: 3px solid transparent;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    text-underline-offset: .25em;
    box-shadow: none;
    margin: 1rem 0 0;
    text-align: center;
    padding: .6rem 1.6rem;
    cursor: pointer;
    border-radius: 0;

    &:hover,
    &:focus {
      background: $ash-grey;
      outline: none;
      opacity: 1;
    }

    &:focus {
      border-color: $black;
    }
  }
}
