// Font faces, stacks and sizes.
//
// Font styling and line heights are controlled by the several variables that
// used by mixins like adjust-font-size-to().
// These variable and mixins are documented in [Compass](http://compass-style.org/reference/compass/typography/vertical_rhythm/).
// We also use a custom mixin responsive-typo-map() to make responsive typography much more manageable using sass maps.
// We import Google fonts in the head of the document and set the base family to be
// 'Open Sans', sans-serif
//
// Style guide: init.variables.typography
// The default font family.
$base-font-family: 'Open Sans', sans-serif;
$font-monospace:   'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;;

// The font sizes for h1-h6.
$h1-font-size: 2.5 * $base-font-size;
$h2-font-size: 1.9 * $base-font-size;
$h3-font-size: 1.6 * $base-font-size;
$h4-font-size: 1.6 * $base-font-size;
$h5-font-size: 1.6 * $base-font-size;
$h6-font-size: 1.6 * $base-font-size;
$p-font-size: 1.6 * $base-font-size;

$normal-text: (
  null: (16px, 1.5, 0 0 2.4rem)
);

$h1-text: (
  null: (25px, 3rem, 2.3rem 0)
);

$h2-text: (
  null: (19px, 2.4rem, 3.6rem 0 1.2rem)
);

$h3-text: (
  null: (16px, 2.4rem, 2.4rem 0 1.2rem)
);

$h4-text: (
  null: (16px, null, 2.4rem 0 0)
);

$h5-text: (
  null: (16px, null, 0 0 .6rem)
);

$h6-text: (
  null: (16px, null, 0 0 .6rem)
);
