/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.footer-area .column:last-child {
  float: none;
  width: unset;
}

#footer .column li {
  display: inline;
  padding: 2rem;
}

.node-type-publication {
  .content-sidebar-wrap {
    @include breakpoint($tab) {
      width: 65%;
    }
  }
}
