// sass-lint:disable indentation, no-color-keywords

// Colors
//
// Use the `color()` function to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/).
//
// Markup: chroma.twig
//
// Weight: -8
//
// Style guide: init.colors

// Define the default color scheme's color names.
$chroma: define-default-color-scheme('branding', 'The site\'s main colors. Can be used to define colors in other color schemes.');

$chroma: add-colors((
  black:                  #000,
  charcoal:               #333,
  ash-grey:               #666,
  'grey':                 #999,
  grey-dark:              #555,
  grey-light:             #f6f6f6,
  grey-lightest:          #f0f0f0,
  grey-medium:            #cdcdcd,
  white:                  #fff,
  offwhite:               #ff4dff,
  dark-red:               #b63a1b, // 4.53:1 with light-pink
  hc-red:                 #d1431f, // 4.63:1 with white
  light-pink:             #ffdae0, // 4.53:1 with dark-red

  brand-primary: #23363c, //#0f3d0f,

  brand-secondary: #404040,

  brand-tertiary:         #002e62,
));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
  text:                   #111,
  headings:               'text',

  border:                 'grey-light',

  button:                 'text',
  button-disabled:        'charcoal',
  button-action:          #3fa940,

  info-notice:            #004695,

  mark-bg:                #ff0,
  error:                  'dark-red',
  error-bg:               'light-pink',

  menu-background:        'brand-primary',
  menu-item-hover:        'brand-secondary',
  menu-separator:         #fff,
  menu-sub-item-background: lighten(#606, 10),
  menu-sub-item-hover:    'brand-primary',

  table-background:       #fff,
  table-border:           #bbb,
  table-header-cell-background: #2e3d4a,
  table-header-cell-border: #c8c7c7,
  table-header-cell-text: #fff,
  table-cell-border:      #dbdbdb,
  table-cell-text:        'text',

  footer-background:      #e7e7e7,
  footer-border:          'brand-primary',
  footer-text:            'text',
  footer-headings:        'text',

  search-submit: #0e6bb3,
));

$chroma-active-scheme: 'functional';

$black: color('black');
$charcoal: color(charcoal);
$ash-grey: color(ash-grey);
$grey: color(charcoal);
$grey-dark: color(grey-dark);
$grey-light: color(grey-light);
$grey-lightest: color(grey-lightest);
$grey-medium: color(grey-medium);
$white: color('white');
$offwhite: color(offwhite);
$hc-red: color(hc-red);
$info-notice: color(info-notice);

$brand-primary: color(brand-primary);

$brand-secondary: color(brand-secondary);

$brand-tertiary: color(brand-tertiary);

$text: color('text');
$headings: color(headings);

$link: #0e6bb3 !default;
$link-underline: color('charcoal') !default;
$link-active: #0e6bb3 !default;
$link-hover: #0e6bb3 !default;
$link-hover-background: rgba(75%, 75%, 75%, .25) !default;
$link-visited: #0e6bb3 !default;
$link-visited-underline: #707070 !default;

$border: color('border');

$button: color('button');
$button-disabled: color(button-disabled);
$button-action: color(button-action);

$mark-bg: color(mark-bg);
$error: color(error);
$error-bg: color(error-bg);

$menu-background: color(menu-background);
$menu-item-hover: color(menu-item-hover);
$menu-separator: color(menu-separator);
$menu-sub-item-background: color(menu-sub-item-background);
$menu-sub-item-hover: color(menu-sub-item-hover);

$table-background: color(table-background);
$table-border: color(table-border);
$table-header-cell-background: color(table-header-cell-background);
$table-header-cell-border: color(table-header-cell-border);
$table-header-cell-text: color(table-header-cell-text);
$table-cell-border: color(table-cell-border);
$table-cell-text: color(table-cell-text);

$footer-background: color(footer-background);
$footer-border: color(footer-border);
$footer-text: color(footer-text);
$footer-headings: color(footer-headings);

$search-submit: color(search-submit);
