/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';


#top-area {
  margin: 5% auto 6%;
  display: flex;

  @media screen and (max-width: $desk) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media screen and (max-width: $tab) {
    flex-direction: column;
  }

  > .column {
    @media screen and (max-width: $desk) {
      display: flex;
      flex-basis: calc(50% - 4rem);
      justify-content: center;
      flex-direction: column;
    }
  }

  .container-wrap {
    display: flex;

    @media screen and (max-width: $tab) {
      flex-wrap: wrap;

      .column {
        flex: 1 1 calc(100% - 4rem);
      }
    }

    @media screen and (max-width: $lap) {
      flex-wrap: wrap;

      .column {
        flex: 1 1 calc(100% - 4rem);
      }
    }
  }

  .column h3 {
    font-weight: normal;
    font-size: 1.8rem;
  }
}

#search-facets {
  width: 30%;
}

.current-search-item-results-count {
  margin-top: 0;
}

.region-front-welcome #block-homepageabouttheredressboard {
  display: flex;
  text-align: left;
  padding: 4rem 0 5rem;
  border-bottom: 1px solid $brand-secondary;

  .left {
    flex: 2;
  }

  .right {
    flex: 1;
  }

  @media screen and (max-width: $tab) {
    flex-direction: column-reverse;

    .right {
      text-align: center;
    }

    .left .content div:first-child {
      text-align: center;
    }
  }
}

.region-front-welcome .block h2 {
  font-size: 4rem;
  line-height: 4rem;
  text-align: left;
  font-weight: normal;

  @media screen and (max-width: $tab) {
    text-align: center;
  }
}

#main-menu .menu-link,
#main-menu .menu {
  background-color: #fff;
  color: $brand-primary;
}

#main-menu {
  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu-link {
    &:hover,
    &:focus {
      color: $white;
    }
  }

  .menu .menu-item .active {
    border-color: $brand-primary;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-link {
      background: $brand-primary;
    }

    .menu-item {
      .active {
        color: $white;
        border-color: $white;
      }

      a {
        &:hover,
        &:focus {
          background: $charcoal;
        }
      }
    }
  }
}

#main-menu .menu-link, #main-menu .menu {
  font-size: 1.6rem;
}

#menu-main .menu-item {
  margin-right: 0.5rem;

  @media screen and (max-width: $lap) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.menu_wrapper {
  @media screen and (min-width: $tab) {
    border-bottom: 1px solid $brand-secondary;
    padding-bottom: 2rem;
  }
}

#block-guidanceforapplicants,
#block-makeanapplication,
#block-keydocuments,
#block-legaladviceandsupport .content {
  text-align: -webkit-center;
}

#content #top-area h3 {
  text-align: -moz-center;

  a {
    display: block;
    width: max-content;

    &:hover {
      background: #e7e7e7;
    }
  }
}

.region #block-makeanapplication {
  margin-left: 1rem;
}
