/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';


#logo img {
  height: 90px;
}

#top-area {

  margin: 5% auto 6%;

  .container-wrap {
    display: flex;

    @media screen and (max-width: $tab) {
      flex-wrap: wrap;

      .column {
        flex: 1 1 calc(100% - 4rem);
      }
    }

    @media screen and (max-width: $lap) {
      flex-wrap: wrap;

      .column {
        flex: 1 1 calc(100% - 4rem);
      }
    }
  }

  .column h3 {
    font-weight: normal;
    font-size: 2.4rem;
  }
}

#search-facets {
  width: 30%;
}

.sidebar-first .main-content {
  width: 65%;
}

.current-search-item-results-count {
  margin-top: 0;
}

.region-front-welcome #block-homepageabouttheredressboard {
  display: flex;
  text-align: left;
  padding: 4rem 0 5rem;
  border-bottom: 1px solid $brand-secondary;

  .left {
    flex: 2;
  }

  .right {
    flex: 1;
  }

  @media screen and (max-width: $tab) {
    flex-direction: column-reverse;

    .right {
      text-align: center;
    }

    .left .content div:first-child {
      text-align: center;
    }
  }
}

.region-front-welcome .block h2 {
  font-size: 4rem;
  line-height: 4rem;
  text-align: left;
  font-weight: normal;

  @media screen and (max-width: $tab) {
    text-align: center;
  }
}

#main-menu .menu-link,
#main-menu .menu {
  background-color: #fff;
  color: $brand-primary;
}

#main-menu .menu .menu-item .active,
#main-menu .menu .menu-item .active + .menu-main_sub .title a {
  background: $grey-lightest;
  border-bottom: none;
  color: $brand-primary;
  padding: 1rem;
  font-size: 1.8rem;
}

.region-primary-menu .menu_wrapper {
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 2rem;
}

#main-menu .menu-link, #main-menu .menu {
  font-size: 1.8rem;
}

#menu-main .menu-item {
  @media screen and (max-width: $lap) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.footer-area .column:last-child {
  float: none;
  width: unset;
}

#footer .column li {
    display: inline;
    padding: 2rem;
}

.welcome-links h3 {
  text-align: -moz-center;

  a {
    display: block;
    width: max-content;
  }
}

.region #block-makeanapplication {
  margin-left: 2rem;
}

