/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';


.node-type-faq,
.node-type-publication {
  .content-sidebar-wrap {
    @include breakpoint($tab) {
      width: 65%;
    }
  }
}

.footer-area .column:last-child {
  float: none;
  width: unset;
}

#footer {
  max-width: 100%;
}

#footer-menu {
  text-align: left;
}

#footer .column li {
  display: inline;
  border-bottom-style: none;
  padding: 0 .8rem 0 0;
}

.footer-menu ul li {
  font-size: 1.4rem;
}
