/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';


.node-type-faq,
.node-type-publication {
  .content-sidebar-wrap {
    @include breakpoint($tab) {
      width: 65%;
    }
  }
}

#footer {
  .container-wrap {
    display: block;
  }
  .footer-menu li {
    padding-left: 0;
    font-size: 1.6rem;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}
