/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.top_left #logo {
  @include breakpoint($tab) {
    img {
      height: 14rem;
    }
  }
}

.region-front-welcome {
  background: resolve('crc-banner-img.png') no-repeat 50%;
  padding: 5rem 5rem 5rem 5rem;
}

#block-frontpagebanner {
  background: rgba(72, 119, 195, 0.85);
  padding: 2.6rem 0 2rem;

  h2 {
    @include adjust-font-size-to(55px);
    color: white;
    line-height: 1.5;
  }

  a.btn {
    background: #0e1b5b;
    font-size: 2.1rem;
    line-height: 3.5rem;
    padding: 1rem 2.8rem;
    border-radius: 5px;

    &:hover,
    &:focus {
      opacity: .7;
      color: #fff;
      text-decoration: none;
    }
  }
}

.region-primary-menu .menu_wrapper {
  @include breakpoint($tab) {
    margin-top: 4rem;
  }
}

#main-menu {
  background: $white;

  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu
  .menu-item
  .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }

  .menu-main_sub
  .menu-item
  span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}

#footer {
  //max-width: 1160px;
  padding: 2rem;

  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    padding-left: 0;
    font-size: 1.6rem;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}
