/*
 * @file
 * Helper partial to outline the order partials should be loaded in this section - used for reference & in the style guide.
 */
/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/*
 * @file
 * Helper partial to outline the order partials should be loaded in this section - used for reference & in the style guide.
 */
/* line 2, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 37, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 46, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
.clear::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 57, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
video {
  display: block;
}

/* line 61, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
audio {
  max-width: 100%;
}

/* line 65, node_modules/nicsdru_unity_theme/src/scss/1_base/_html5.scss */
iframe {
  width: 100%;
  min-height: 170px;
  margin: 1.5em 0;
}

/*
 * @file
 * Resets and creates defaults for root html elements.
 */
/* line 22, node_modules/nicsdru_unity_theme/src/scss/1_base/_root.scss */
* html .clear {
  height: 1%;
}

/* line 26, node_modules/nicsdru_unity_theme/src/scss/1_base/_root.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, node_modules/nicsdru_unity_theme/src/scss/1_base/_root.scss */
html {
  font-size: 62.5%;
}

/* line 36, node_modules/nicsdru_unity_theme/src/scss/1_base/_root.scss */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1em 0 1.5em;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #111;
  background-color: #fff;
}

@media screen and (min-width: 766px) {
  /* line 36, node_modules/nicsdru_unity_theme/src/scss/1_base/_root.scss */
  body {
    font-size: 1.8rem;
  }
}

/* line 27, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link) {
  color: #0e6bb3;
  text-decoration: none;
}

/* line 31, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
#content a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link),
.content a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link),
#footer a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link) {
  border-bottom: 1px solid #0e6bb3;
  margin: 0 -1px;
  padding: 0 1px;
}

/* line 40, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
#content a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):hover:not(.facet-item--link):not(.facet--btn),
.content a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):hover:not(.facet-item--link):not(.facet--btn),
#footer a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):hover:not(.facet-item--link):not(.facet--btn) {
  border-bottom: 2px solid #333;
}

/* line 47, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):focus:not(.facet-item--link):not(.facet--btn):not(.news-link) {
  color: #fff;
  background: #0e6bb3;
}

/* line 51, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
#content a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):focus:not(.facet-item--link):not(.facet--btn):not(.news-link),
.content a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):focus:not(.facet-item--link):not(.facet--btn):not(.news-link),
#footer a:not(.toolbar-icon):not(.file-link):not(.facet--btn):not(.facet-item--link):not(.btn):not(.ui-menu-item-wrapper):not(.thwooper):not(.value):not(.card__title-link):not(.card):not(.layout-builder__link):not(.facets-soft-limit-link):focus:not(.facet-item--link):not(.facet--btn):not(.news-link) {
  border-bottom: 0;
  margin: 0;
}

/* line 66, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
#block-mainpagecontent a strong,
#block-mainpagecontent strong a {
  font-weight: normal;
}

/* line 72, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
#block-mainpagecontent .content a {
  overflow-wrap: break-word;
}

/* line 76, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
.skip-link,
.skip-link:visited {
  opacity: .75;
  -webkit-transition: opacity .3s 0s;
  transition: opacity .3s 0s;
  color: #fff;
  background-color: #000;
  outline: none;
  text-align: center;
}

/* line 85, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
.skip-link::after,
.skip-link:visited::after {
  content: ' ';
  display: inline-block;
  width: 1.5em;
  height: .75em;
  background: transparent url('../images/arrow-down.png?186c62f46ff') no-repeat 50% 50%;
  background-size: 1.6rem auto;
}

/* line 95, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
.skip-link:focus {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1em 0 1.5em;
  opacity: 1;
  display: block;
  line-height: 1.5;
  padding: .9rem 3.5rem;
  color: #fff;
  text-decoration: underline;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  background-color: #333;
}

@media screen and (min-width: 766px) {
  /* line 95, node_modules/nicsdru_unity_theme/src/scss/1_base/_links.scss */
  .skip-link:focus {
    font-size: 1.8rem;
  }
}

/*
 * @file
 * Sets out the base behaviour of heading elements.
 */
/* line 17, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #111;
}

/* line 22, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h1 {
  font-size: 3.2rem;
  line-height: 3.9rem;
  margin: 2rem 0 2.7rem;
}

/* line 25, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h1 .subtitle {
  font-size: 2.4rem;
  font-weight: normal;
}

/* line 29, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h1 .subtitle::before {
  content: ' \2014  ';
}

/* line 35, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin: 3.6rem 0 1.8rem;
}

/* line 39, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h3 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 3.6rem 0 1.8rem;
}

/* line 43, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h4 {
  font-size: 2.1rem;
  line-height: 2.7rem;
  margin: 3.6rem 0 1.8rem;
}

/* line 47, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h5 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin: 3.6rem 0 1.8rem;
}

/* line 51, node_modules/nicsdru_unity_theme/src/scss/1_base/_headings.scss */
h6 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin: 3.6rem 0 1.8rem;
}

/*
 * @file
 * Sets out the base behaviour of text elements.
 */
/* line 25, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
p {
  margin-bottom: 1.8rem;
  color: #111;
}

/* line 39, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
code {
  background: #fafafa;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

/* line 59, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}

/* line 74, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
del {
  text-decoration: line-through;
}

/* line 91, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

/* line 110, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
cite,
em,
i {
  font-style: italic;
}

/* line 125, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

/* line 140, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

/* line 162, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
b,
strong {
  font-weight: bold;
}

/* line 177, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
sup,
sub {
  font-size: 1rem;
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}

/* line 186, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
sup {
  bottom: 1ex;
}

/* line 190, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
sub {
  top: .5ex;
}

/* line 194, node_modules/nicsdru_unity_theme/src/scss/1_base/_text.scss */
address {
  font-style: normal;
}

/*
 * @file
 * Sets out the base behaviour of grouping elements.
 */
/* line 21, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
hr {
  border: 0;
  border-top: 1px solid #eee;
}

/* line 59, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ol,
ul {
  list-style: none;
}

/* line 64, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ul {
  list-style-type: disc;
  margin: 1.2rem 0 1.8rem 2.4rem;
}

/* line 68, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ul ul {
  list-style-type: square;
  margin-bottom: 0;
}

/* line 72, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ul ul ul {
  list-style-type: circle;
}

/* line 78, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ol {
  list-style-type: decimal;
  margin: 1.2rem 0 1.8rem 3rem;
}

/* line 82, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ol ol {
  list-style: upper-alpha;
  margin-bottom: 0;
}

/* line 86, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 89, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 96, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
dt {
  font-weight: bold;
  margin-bottom: 2.4rem;
}

/* line 101, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
dd {
  margin-left: 30px;
  margin-bottom: 2.4rem;
}

/* line 106, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
li {
  padding-bottom: .6rem;
}

/* line 129, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
blockquote,
q {
  quotes: none;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 135, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  padding: 1rem .5rem .5rem 4.7rem;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
  background: transparent url('../images/quote.png?186c62f4702') no-repeat scroll 0 0;
}

/* line 145, node_modules/nicsdru_unity_theme/src/scss/1_base/_grouping.scss */
blockquote::after,
q::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 14, node_modules/nicsdru_unity_theme/src/scss/1_base/_embedded.scss */
img,
svg,
video {
  max-width: 100%;
  height: auto;
}

/* line 22, node_modules/nicsdru_unity_theme/src/scss/1_base/_embedded.scss */
img {
  outline: 0;
}

/* line 34, node_modules/nicsdru_unity_theme/src/scss/1_base/_embedded.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 20, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
fieldset {
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 1rem;
  margin-bottom: 3.2rem;
  padding: 0 0 1rem;
  position: relative;
  top: 12px;
  border-radius: 4px/4px;
}

/* line 30, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
fieldset.collapsed {
  background: transparent;
  border-radius: 0;
}

/* line 34, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
fieldset.collapsed legend {
  border-radius: 4px;
}

/* line 39, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
fieldset legend {
  background: #dbdbdb;
  border: solid #ccc;
  border-width: 1px 1px 0;
  display: block;
  height: auto;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 1rem;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 57, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
fieldset .fieldset-wrapper {
  padding: 0 1rem;
}

/* line 61, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
fieldset .fieldset-description {
  margin-top: .5rem;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic;
}

/* line 69, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
input:not(input[type='radio']) {
  border-radius: 0;
  margin: .2rem 0;
  padding: .4rem;
  -webkit-appearance: none;
}

/* line 76, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
input,
textarea {
  font-size: .929em;
}

/* line 81, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
textarea {
  line-height: 1.5;
}

@media screen and (max-width: 440px) {
  /* line 84, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
  textarea.form-textarea {
    width: 100%;
  }
}

/* line 91, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
textarea.form-textarea,
select.form-select {
  padding: .4rem;
}

@media screen and (max-width: 440px) {
  /* line 96, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
  input.form-text,
  select.form-select {
    width: 93%;
  }
}

/* line 103, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #555;
}

/* line 109, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
button:not(.toolbar-icon):not(.ui-button):not(.trigger):not(.slick-arrow):not([id^=slick-slide-control]):not([id^=accordion]):not(.hamburger),
input[type='submit'],
input[type='reset'],
input[type='button'] {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e3e3));
  background-image: linear-gradient(to bottom, #fff 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e3e3e3');
  border: 1px solid #dbdbdb;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #777;
  text-shadow: 0 1px 0 white;
  position: relative;
  font-weight: bold;
  padding: .5rem 1em .6rem;
}

/* line 124, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
button:not(.toolbar-icon):not(.ui-button):not(.trigger):not(.slick-arrow):not([id^=slick-slide-control]):not([id^=accordion]):not(.hamburger):hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#f2f2f2));
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#f2f2f2');
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  cursor: pointer;
}

/* line 132, node_modules/nicsdru_unity_theme/src/scss/1_base/_forms.scss */
input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

/* line 10, node_modules/nicsdru_unity_theme/src/scss/1_base/_tables.scss */
table {
  width: 100%;
  margin-bottom: 1.8rem;
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
}

/* line 20, node_modules/nicsdru_unity_theme/src/scss/1_base/_tables.scss */
th,
tr,
td {
  vertical-align: middle;
}

/* line 26, node_modules/nicsdru_unity_theme/src/scss/1_base/_tables.scss */
th {
  background: #2e3d4a;
  border-right: 1px solid #c8c7c7;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

/* line 33, node_modules/nicsdru_unity_theme/src/scss/1_base/_tables.scss */
.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

/* line 40, node_modules/nicsdru_unity_theme/src/scss/1_base/_tables.scss */
th p {
  color: #fff;
  margin-bottom: 0;
}

/* line 46, node_modules/nicsdru_unity_theme/src/scss/1_base/_tables.scss */
td {
  background: #fff;
  color: #111;
  text-align: left;
  padding: 10px;
  border: 1px solid #dbdbdb;
}

/*# sourceMappingURL=base.css.map */