/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.front {
  .front-banner {
    img {
      display: block;
    }

    p {
      padding: .5em;
      background-color: $grey-lightest;
      color: $text;
      text-align: center;

      @media screen and (max-width: $mob) {
        margin-bottom: 0;
      }
    }
  }

  .bottom_widget {
    margin-bottom: 2.4rem;

    @include breakpoint($phab) {
      padding-bottom: 2rem;
    }
  }

  #bottom-area {
    @include breakpoint($phab) {
      display: flex;
      justify-content: space-between;
    }

    .column {
      float: none;
      margin: 1rem 0 2rem;
      flex-basis: 32.5%;
      width: 100%;
      padding: 0 2rem;

      @include breakpoint($phab) {
        padding: 0 1rem 3rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        position: relative;
      }
    }

    .region-bottom-widget-1,
    .region-bottom-widget-2,
    .region-bottom-widget-3 {
      @include breakpoint($tab) {
        height: 100%;
        display: flex;
      }
    }
  }

  .block {
    text-align: center;

    > h2 {
      text-align: center;
    }

    .fa, .far {
      color: $brand-tertiary;
      font-size: 10rem;
      line-height: 1;
      margin: 2rem;
      display: block;
    }

    .btnwrap, footer {
      margin-top: 1rem;
    }

    .btnwrap {
      @include breakpoint($tab) {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
      }
    }
  }

  .about-IRC-flex,
  .contextual-region {
    @include breakpoint($phab) {
      position: static;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .block-views-blockfront-latest-news-home-latest-news {
    h3 {
      @include responsive-typo-map($normal-text);
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  .block-views-blockkey-documents-key-docs-home {
    .dash-list {
      text-align: left;
    }
  }
}

#main-menu {
  .menu .menu-item {
    .active {
      background-color: $brand-secondary;
      border-bottom-color: $white;

      @include breakpoint($tab) {
        border-bottom-color: $brand-secondary;
      }
    }
  }
  .menu-main_sub {
    width: 100%;

    .title {
      .menu-link,
      .active {
        border-top: none;
      }
    }
  }
}
