/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.front {
  .front-banner {
    img {
      display: block;
    }

    p {
      padding: .5em;
      background-color: $grey-lightest;
      color: $text;
      text-align: center;

      @media screen and (max-width: $mob) {
        margin-bottom: 0;
      }
    }
  }

  .bottom_widget {
    margin-bottom: 2.4rem;

    @include breakpoint($phab) {
      padding-bottom: 2rem;
    }
  }

  #bottom-area {
    @include breakpoint($phab) {
      display: flex;
      justify-content: space-between;
    }

    .column {
      float: none;
      margin: 1rem 0;
      flex-basis: 32.5%;
      width: 100%;
      padding: 0 2rem;

      @include breakpoint($phab) {
        padding: 0 1rem;
        margin: 0;
      }
    }

    .region-bottom-widget-1,
    .region-bottom-widget-2,
    .region-bottom-widget-3 {
      height: 100%
    }
  }

  .block {
    text-align: center;

    > h2 {
      text-align: center;
    }

    .fa, .far {
      color: $brand-tertiary;
      font-size: 10rem;
      line-height: 1;
      margin: 2rem;
      display: block;
    }

    .btnwrap, footer {
      margin-top: 1rem;
    }
  }

  .about-IRC-flex {
    @include breakpoint($phab){
      position: relative;
      height: 100%;

      .btnwrap {
        position: absolute;
        bottom: 5px;
        width: 100%
      }
    }
  }

  .block-views-blockfront-latest-news-home-latest-news {
    position: relative;

    @include breakpoint($phab) {
      height: 100%;

      footer {
        position: absolute;
        bottom: 5px;
        width: 100%
      }
    }

    h3 {
      @include responsive-typo-map($normal-text);
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  .block-views-blockirc-key-documents-views-block-key-docs-homepage {
    .dash-list {
      text-align: left;
    }
  }
}

#main-menu {
  .menu .menu-item {
    .active {
      background-color: $brand-secondary;
      border-bottom-color: $white;

      @include breakpoint($tab) {
        border-bottom-color: $brand-secondary;
      }
    }
  }
  .menu-main_sub {
    width: 100%;

    .title {
      .menu-link,
      .active {
        border-top: none;
      }
    }
  }
}

#footer {
  @media screen and (max-width: $tab) {
    padding: 2rem;
  }

  .footer-menu li {
    padding-left: 0;
    //font-size: 1.4rem;
    line-height: 2.4rem;
    display: block;

    @include breakpoint($tab) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }
  }
}
