/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.front {
  .front-banner{
    padding: 0;
  }
}
