/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../../../../../../web/themes/custom/nicsdru_unity_theme/src/scss/2_layout/index';

.front {
  .front-banner{
    padding: 0;
  }
}

.path-news,
.path-publications {
  .search-page {
    .views-exposed-form {
      p {
        margin-bottom: 0;
      }
    }
  }
}
