/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.front {
  .front-banner{
    padding: 0;
  }
}

#footer {
  @media screen and (max-width: $tab) {
    padding: 2rem;
  }

  .footer-menu {
    margin: 2% auto;

    li {
      padding-left: 0;
      line-height: 2.4rem;
      display: block;

      @include breakpoint($tab) {
        display: inline-block;
        padding: 0 .8rem 0 0;
        line-height: 1.8rem;
        margin-right: .5rem;
      }
    }
  }

}

.path-news,
.path-publications {
  .search-page {
    .views-exposed-form {
      p {
        margin-bottom: 0;
      }
    }
  }
}
